/* imports daS fonts */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: titiliumweb-black;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Black.ttf);
}

@font-face {
    font-family: titiliumweb-bold;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf);
}

@font-face {
    font-family: inter;
    src: url(../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

body {
    background-color: #1b1426;
    color: white;
}

.mostrar-menu{
    left: 0 !important ;
}

.menu-perfil{
    right: 0 !important;
}

/* Classes genéricas */
.layout-grid {
    /* border: 1px solid salmon; */
    width: 90%;
    margin: 0 auto;
    height: 100%;
}

/* mobile first */

/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index:20;
    width: 100vw;
    height: 60px;
    background-color: #1b1426;
}

/* header top */

header .header-top {
    display: none;
}

/* Header bottom */

/* justify content + align items */
.alinhamento-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header-bottom {
    height: 100%;
}

header .header-bottom img.logo {
    width: 86px;
}

header .header-bottom nav {
    position: fixed;
    top: 60px;
    left: -80vw;
    width: 80vw;
    height: calc(100vh - 60px);
    padding-bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* background-color: white; */
    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    /* border: 1px solid white; */
    backdrop-filter: blur(45px);

    transition: left 0.4s;
}

/* somente links "filhos direto" */
header .header-bottom nav > a {
    border-bottom: 2px solid #F9AA01;
    color: white;
    text-align: center;
    padding: 30px 0;
    text-decoration: none;
    font-size: 15px;
    font-family: inter;
    font-weight: 400;

}

    header .header-bottom nav > a:last-of-type{
        border-bottom: none;
    }

    /* ícone de mídias sociais possibilidade de position*/

    header .header-bottom nav .midias-sociais{
        display: flex;
        justify-content: center;
        /* gap é o espacamento entre os elemento, serve em linha e coluna */
        gap: 50px;
    }


/* menu lateral direito - ícones */

header .header-bottom .menu-usuarios {
    position: fixed;
    top: 60px;
    right: -19vw;
    width: 19vw;
    height: 170px;
    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(45px);
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    transition: right 0.4s;
}

/* MAIN */
main{
    margin-top: 60px;
}

/* banner */
.banner{
    height: 606px;
    width: 100%;
    background-color: rebeccapurple;
    background-image: url(../assets/images/fundo-banner-mobile.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 40% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center     ;

}

.banner h1{
    font-family: titiliumweb-black ;
    font-size: 40px;
    text-shadow: 0 0 7px #FD4255;
}

.banner .botao-sobre{
    width: 171px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9AA01;
    color: #1b1426;
    text-decoration: none;
    font-family: titiliumweb-bold;
    font-size: 24px;
    border-radius: 8px;
}

/* SECTION JOGOS */

.jogos{
    width: 100%;
    height: 590px;
    background-color: #1b1426;
}

.jogos-centro{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* SECTION PROGAMER */

.progamer{
    height: 1535px;
    background-color: #F9AA01;
}

.entre-time{
    text-align: center;
    font-size: 18px;
    font-family: titiliumweb-black;
    letter-spacing: 2px;
    padding-top: 60px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color:#1b1426;  
}

.jogos-diferentes{
    border: 2px solid black;
    width:231px ;
    height: 300px;
    border-radius: 8px;
    /* background-color: white ; */
    background-image: linear-gradient(to right bottom ,rgba(122,49,236,0.2) , rgba(47,7,109,0.8));
    backdrop-filter: blur(15px);
}

#linha{
    border-top: 2px solid black;
    width: 200px;
    margin-left: 65px;
}

/* TABLETS >= 768px */

@media screen and (min-width: 768px) {
    
}

/* DESKTOP >= 1200PX */

@media screen and (min-width: 1200px) {
    .layout-grid{
        width:100%;
        max-width: 1200px;

        border: 3px dotted yellowgreen;
    }

    /* HEADER */
    header{
        position: static;
        height: 140px;
    }

    header .menu-hamburguer,
    header .menu-pontinhos,
    header .header-bottom nav .phone,
    header .header-bottom nav .email,
    header .header-bottom nav .midias-sociais{
        display: none;
    }

    header .header-bottom img.logo{
        width: 200px;
    }

    header .header-bottom nav{
        position: static;
        width: 440px;
        height: 50px;
        flex-direction: row;
        background-color: red;
    }

    header .header-bottom .menu-usuarios{
        position: static;
        flex-direction: row;
        width: 180px;
        height: 50px;
        background-color: transparent;
    }

    /* MAIN */
    main{
        margin-top: 0;
    }
}